@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Второй метод</h1>
<h2>@ViewBag.Name</h2>
<form>
    <p>Введите имя</p>
    <input name="firstname" />
    <button type="submit">Send</button>
</form>

<h2>@ViewBag.Firstname</h2>