<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            text-align: center;
            font-family: "Segoe UI Emoji";
            font-size: large;
            background: dimgray;
            color: yellow;
            gap: 40px;
        }
        a{
            border: solid 5px yellow;
            border-radius: 20px;
            padding:20px 10px;
            text-decoration: none;
            cursor: pointer;
            color: yellow;
        }
    </style>
</head>
<body>
<h1>Главная страница</h1>

<a href="/calculator">Калькулятор</a>


<a href="/converter">Конвертер валют</a>

</body>
</html>