body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
  background-color: #4d4d4d;      
  color: #ffffff;                    
  min-height: 900px;
}

header {
  background-color: rgb(175, 120, 0);       
  color: white;
  padding: 15px;
  text-align: left;
    border: 2px solid yellow;

  border-radius: 20px;
}
img{
  height: 30px;
  width: 30px;
}


nav ul {              /* убираем точки у списка */
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;                 /* пункты меню в ряд */
  margin: 0 15px;   
  margin-bottom: 0 ;
  margin-top: 0;              /* расстояние между пунктами */
}

nav ul li a {
  color: white;
  text-decoration: none;           
  font-weight: bold;

}

nav ul li a:hover {
  text-decoration: underline;      /* подчёркивание при наведении */
}

/* Основной контент */
main {
  max-width: 800px;                /* не шире 800px, чтобы удобно читать */
  margin: 20px auto;               /* центрируем */
  padding: 20px;
  border: 2px solid yellow;
  border-radius: 20px;
  min-height: 600px;
  background-color: #4d4d4d;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* лёгкая тень для вида */
}

/* Заголовки */
h1, h2 {
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;          /* поля формы друг под другом */
  max-width: 400px;
  margin: 0 auto;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 2px solid yellow;
  border-radius: 20px;   
         
}

button {
  background-color: rgb(175, 120, 0);
  color: white;
    border: 2px solid yellow;
  border-radius: 20px;
  cursor: pointer;                
}

button:hover {
  background-color: yellow;       
  color: black;
  transform: scale(1.03);
  border: solid black;
  font-size: large;
}
footer {
  background-color:rgb(175, 120, 0);      
  color: black;
  text-align: center;
  padding: 5PX auto;
  width: 100%;
  height: 40PX;     
  font-size: 14px;
  position: fixed;
  bottom: 0;
    border: 2px solid yellow;
  border-radius: 20px;
    display:flex;
   flex-wrap:wrap;
   justify-content: center;
}

footer div{
display: flex;
  flex-wrap: wrap;           
  gap: 24px;                 
  justify-content: center;   
  align-items: center;
}
footer div a:hover{
  color: yellow;
  text-decoration: underline;
}
@media (max-width: 600px) {
  main {
    padding: 10px;
  }

  nav ul li {
    display: block;                /* меню вертикально на мобилке */
    margin: 10px 0;
  }
}

a {
  text-decoration: none;     /* убирает подчёркивание */
  color: inherit;           /* берёт цвет от родителя */
}
.task-card{
  border: 3px solid yellow; 
  margin: 5px;
  display: flex;
  flex-direction: column;
  min-height: 260px;          
  padding: 1.4rem;
  border-radius: 30px;
}
.task-card:hover{
  transform: scale(1.03);

}

.price{
  color:yellow;
}
.price:hover{
  color:yellowgreen;
}
.search-bar input{
  width: 85%;
}
.search-bar{
  text-align: center;
}
.take-task-btn{
  margin-top:50px ;
}