<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            text-align: center;
            font-family: "Segoe UI Emoji";
            font-size: large;
            background: dimgray;
            color: yellow;
        }
        a{
            border: solid 2px yellow;
            border-radius: 20px;
            padding:5px 5px;
            text-decoration: none;
            cursor: pointer;
            color: yellow;
            margin: 12px;
        }
    </style>
</head>
<body>

<h2>Результат</h2>

<p th:text="${result}"></p>

<a href="/">Назад</a>

</body>
</html>