@*
    
*@
@{
    ViewData["Title"] = "Мяу Мур";
}
<h1>Привет</h1>
<h6>Привет</h6>
<h2>@ViewBag.Name</h2>

<form>
    <p>Введите имя</p>
    <input name="inputname" />
    <button type="submit">Отрпавить</button>
</form>

<h2>@ViewBag.Inputname</h2>